@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>错误</title>
</head>
<body>
    <h2>抱歉，处理您的请求时出错</h2>
    <h3>请联系系统管理员处理</h3>
</body>
</html>
