@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tony博客平台</title>
    <link href="~/Content/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <link href="~/Content/assets/admin/pages/css/lock.css" rel="stylesheet" />
    <!-- BEGIN THEME STYLES -->
    <link href="~/Content/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
    <link id="style_color" href="~/Content/assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/Content/assets/admin/layout/img/automation_16.ico">
    @RenderSection("css", false)
</head>
<body>
    <div class="page-lock">
        <div class="page-logo">
            <a class="brand" href="/">
                <img src="/content/assets/admin/layout/img/logo.png" alt="logo" />
            </a>
        </div>
        @RenderBody()
        
        <div class="page-footer-custom">
            @DateTime.Now.Year &copy; TonyBlogs by Tony.
        </div>
    </div>

    <!-- END FOOTER -->
    <script src="~/Content/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <script src="~/Content/assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script>
      $(function() {
         Metronic.init(); // init metronic core components
      });

      </script>
    @RenderSection("scripts", false)
</body>
</html>

