@using TonyBlogs.Entity

@model List<BlogArticleEntity>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table>
    <tr>
        <th>提交人</th>
        <th>标题</th>
        <th>分类</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Submitter</td>
            <td>@item.Title</td>
            <td>@item.Category</td>
        </tr>
    }
</table>
