

@section css{
    <link href="~/Content/assets/global/plugins/jstree/themes/default/style.min.css" rel="stylesheet" />
}

<div class="page-content" style="min-height:345px">
    <div class="portlet box blue-hoki">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>功能管理
            </div>
            <div class="actions">
                <a  id="btnAdd" href="javascript:;" class="btn btn-default btn-sm" fid="0">
                    <i class="fa fa-plus"></i> 新增
                </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                
                <div class="col-md-3">
                    <div id="tree_1" class="tree-demo jstree jstree-1 jstree-default" role="tree" aria-activedescendant="j1_1">
                        
                    </div>
                </div>
                <div class="col-md-9" id="funcShow">
                    
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts{

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/Content/assets/global/plugins/jstree/jstree.min.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <script type="text/javascript">

        $(function () {
            
            functionInfo.init();
        })

        var UITree = function () {

            var isloaded = false;
            var handleSample1 = function () {
                $('#tree_1').data('jstree', false);
                $('#tree_1').jstree();

                // handle link clicks in tree nodes(support target="_blank" as well)
                $('#tree_1').on('select_node.jstree', function (e, data) {
                    var link = $('#' + data.selected).find('a');
                    $('#btnAdd').attr('fid', $(link).attr('fid'));
                });

                $('#tree_1').on('open_node.jstree', function (event,node) {
                    var id = node.node.id;
                    $("#" + id).find("ul a.jstree-anchor").on("click", function () {
                        var fid = $(this).attr("fid");
                        var pfid = $(this).attr("pfid");
                        functionInfo.getFuncInfo(fid, pfid);
                    })
                });

                //show_node.jstree

                $('#tree_1').on('model.jstree', function (nodes,parent) {
                    console.log(nodes);
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    handleSample1();
                }

            };

        }();

        var functionInfo = (function () {

            var actions = {
                list:'@Url.Action("AjaxGetAllFunctions", "Function")',
                detail: '@Url.Action("AjaxGetFuncEditDTO", "Function")',
                edit: '@Url.Action("AjaxAddOrEditFunction", "Function")',
                remove: '@Url.Action("AjaxDeleteFunction", "Function")',
            }

            var optFuncInfo = function () {
                var data = $("#form_sample_1").serialize();

                Metronic.ajax(
                        {
                            url: actions.edit,
                            data: data,
                            elem: true,
                        }).done(function () {
                            $('#funcShow').html('');
                            setTimeout(function(){getFuncList()},50);
                        });
            }

            var getFuncInfo = function (fid, pfid) {
                Metronic.blockUI({
                    animate: true
                });
                $.post(actions.detail, { funcid: fid, parentid:pfid }, function (result) {
                    $('#funcShow').html(result);
                    bindElement();
                    Metronic.unblockUI();
                })
            }

            var deleteFunc = function (fid) {
                Metronic.ajax(
                        {
                            url: actions.remove,
                            data: { funcid: fid },
                            elem: true,
                        }).done(function () {
                            getFuncList();
                        });
            }

            var bindElement = function () {
                $('#btnSubmit').on('click', function () {
                    optFuncInfo();
                });
            }

            var getFuncList = function () {
                Metronic.blockUI({
                    animate: true
                });
                $.post(actions.list, function (result) {
                    $('#tree_1').html(result);
                    UITree.init();

                    $("a.jstree-anchor").on('click', function () {
                        var fid = $(this).attr("fid");
                        var pfid = $(this).attr("pfid");
                        getFuncInfo(fid, pfid);
                    })
                    Metronic.unblockUI();
                });
            }

            return {
                init: function () {
                    getFuncList();

                    $('#btnAdd').on('click', function () {
                        getFuncInfo(0, $(this).attr('fid'));
                    });
                    
                },
                getFuncInfo: getFuncInfo
            }
        })();
        
    </script>
}


