<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="page-footer-inner">
        @DateTime.Now.Year &copy; TonyBlogs by Shinly.Tong
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!-- END FOOTER -->

