<div class="pre-header">
    <div class="container">
        <div class="row">
            <!-- BEGIN TOP BAR LEFT PART -->
            <div class="col-md-6 col-sm-6 additional-shop-info">
                <ul class="list-unstyled list-inline">
                    <li>我的博客我做主</li>
                </ul>
            </div>
            <!-- END TOP BAR LEFT PART -->
            <!-- BEGIN TOP BAR MENU -->
            <div class="col-md-6 col-sm-6 additional-nav">
                <ul class="list-unstyled list-inline pull-right">
                    @if (UserContext.CurrentUser == null)
                    {
                        <li><a href="/admin">登录</a></li>
                        <li><a href="/register">注册</a></li>
                    }
                    else
                    {
                        <li><a href="/admin/blogarticle">@UserContext.CurrentUser.RealName</a></li>
                        <li><a href="/admin/account/logout">退出</a></li>
                    }
                </ul>
            </div>
            <!-- END TOP BAR MENU -->
        </div>
    </div>
</div>

<!-- BEGIN HEADER -->   
<div class="header">
    <div class="container">
        <a class="site-logo" href="/"><img src="~/Content/assets/frontend/layout/img/logos/logo-corp-red.png" alt="Metronic FrontEnd"></a>
        <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>
        <!-- BEGIN NAVIGATION -->
        <div class="header-navigation  font-transform-inherit">
            <ul>
                <li><a href="/" target="_blank">首页</a></li>
                <li><a href="/blog" target="_blank">博客</a></li>
                <li><a href="/essay" target="_blank">随笔</a></li>
                <!-- END TOP SEARCH -->
            </ul>
        </div>
        <!-- END NAVIGATION -->
    </div>
</div>
<!-- Header END -->